@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Noto Kufi Arabic', sans-serif;
}

@layer base {
  :root {
    --background: 195 13% 84%; /* #d0d8da */
    --foreground: 0 0% 6%; /* #0f0f0f */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6%;
    --primary: 0 0% 99%; /* #fcfcfc */
    --primary-foreground: 0 0% 6%; /* #0f0f0f */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 6%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 0 0% 6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 6%;
    --radius: 0.8rem;
    --logo-red: 358 76% 58%; /* #e34348 */
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 195 13% 84%;
    --card: 0 0% 6%;
    --card-foreground: 195 13% 84%;
    --popover: 0 0% 6%;
    --popover-foreground: 195 13% 84%;
    --primary: 0 0% 99%;
    --primary-foreground: 0 0% 6%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 195 13% 84%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 195 13% 84%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 195 13% 84%;
    --radius: 0.8rem;
    --logo-red: 358 76% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-20 lg:py-24;
  }
}
